
.login-box{
    width: 90%;
    margin: auto;
    display: flex;
    max-width: 550px;
}

.login-padding{
    width: 100%;
}

.login-padding form{
    width: 100%;
}

.login-padding form input{
    width: 100%;
    padding: 6px 6px;
    margin: 15px 0;
    border-radius: 4px;
    border: 1px solid #26282D;
    outline: none;
}

.button-login button{
    border-radius: 5px;
    background: #1a44c2;
    text-shadow: 1px 1px 0px rgb(0 0 0 / 30%);
    background-position: 25%;
    background-size: 330% 100%;
    padding: 8px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px black;
    width: 100%;
}

.button-login button span{
    color: white;
    padding: 3px 40px;
}