*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
}   

img{
    width: 100%;
}

header p {
    text-align: center;
}

body{
    background-color: #ebebeb;
    font-family: 'roboto';
}

header{
    font-size: 12px;
}

article{
    background-color: white;
    width: 90%;
    border: solid 5px #ebebeb;
    margin: auto;
}

.main-article{
    padding: 15px;
}

.descuento{
    color: green;
}

main section article img{
    border-bottom: solid 1px #ebebeb;
}

h2{
    font-size: 24px;
    width: 90%;
    margin: auto;
}

main section article i{
    color: green; 
}

.precio{
    font-size: 18px;
}

section p {
    font-size: 16px;
}

h3{
    padding-top: 20px;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    margin: 16px;
    background-color: #1259c3;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
}

footer div{
    text-align: center;
}

.icono{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

h4{
    margin: 0;
    margin-bottom: 10px;
}

.pie-pagina{
    margin: 0;
}

.copyright{
    font-size: 10px;
    text-align: left;
    margin-top: 36px;
}