*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    display: none;
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 12px;
}

nav{
    display: none;
}

header ul li{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.form{
    display: flex;
    width: 50%;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 25px;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
 
img{
    width: 100%;
}

main{
    width: 90%;
    background-color: #ebebeb;
    margin: auto;
}

.main-article{
    background-color: #ebebeb;
    padding: 15px;
    background-color: white;
    position: relative;
}

.descuento{
    width: 70%;
    color: green;

}

h2{
    font-size: 24px;
    color: #666;
}

article{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.precio-descuento{
    display: flex;
    align-items: center;
}



main section article i{
    color: #39b54a; 
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precio{
    width: 30%;
    font-size: 18px;
}

section p {
    font-size: 16px;
}

h3{
    padding-top: 20px;
    color: #666;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    margin: 16px;
    background-color: #1259c3;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
}

footer div{
    text-align: center;
}

.icono{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

h4{
    margin: 0;
    margin-bottom: 10px;
}

.pie-pagina{
    margin: 0;
}

.copyright{
    font-size: 10px;
    text-align: left;
    margin-top: 36px;
}

@media (min-width: 361px) {

    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    h3{
      display: block;
    }
    nav{
        display: block;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    article{
        width: 45%;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }

    nav ul{
        display: flex;
    }

  }

@media (min-width : 769px){
    article{
        width: 20%;
    }
}