.register-body{
    width: 90%;
    margin: auto;
    display: flex;
    max-width: 550px;
}

.register-box{
    width: 100%;
}

.register-box form{
    width: 100%;
}

.register-box form .input-register input{
    width: 100%;
    padding: 6px 6px;
    margin: 15px 0;
    border-radius: 4px;
    border: 1px solid #26282D;
    outline: none;
}

form .input-register p{
    font-size: 20px;
}

form .input-register label{
    font-size: 20px;
}

.radio-usuario{
    display: flex;
    align-items: center;
}

form .input-register .radio-usuario input, form .input-register .checkbox-interes input{
    width: 50px;
    padding: 0;
}

.button{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button div button{
    border-radius: 5px;
    background: #1a44c2;
    text-shadow: 1px 1px 0px rgb(0 0 0 / 30%);
    background-position: 25%;
    background-size: 330% 100%;
    padding: 8px 0px;
    margin: 5px 20px;
    border: solid 1px black;
}

.button div button span{
    color: white;
    padding: 3px 40px;
}
